.rama {
border: 1px solid black;
}

body {
font-family: RobotoSlab;
src: url ('../fonts/RobotoSlab.ttf') format ('truetype');
margin: 0 auto;
}

.header {
min-height: 840px;
background-image: url('../img/pshono.png');
border-radius: 5px;
}

.header_top1 {
position: fixed;
padding-top: 10px;
border-radius: 5px;
background: #f6f6f5;
opacity: 0.7
}

.header_top1:hover {
opacity: 1;
}

.logo_0 {
margin: 0 auto;
display: block;
}

.logo_0:hover {
opacity: 0.5;
}

.click_logo {
}

.click_logo:active {
opacity: 0.3;
}

.shadow {
box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.search_line {
float: right;
padding-top: 5px;
margin-right: 5px;
}

.search_button {
float: right;
margin-right: 5px;
border-radius: 5px;
}

.word_search {
float: right;
margin-right: 5px;
}

ul.list li {
display: inline;
margin-right: 10px;
float: right;
}

.description {
padding-top: 300px;
text-align: center;
font-weight: bold;
color: #684b04;
}

.button_read_more {
background: green;
color: white;
padding: 20px;
border-radius: 5px;
margin: 0 auto;
display: block;
}

.button_read_more:hover {
background: #33a224;
}

.subheader {
background: #f5f5f5;
border-radius: 5px;
}

.png {
padding-top: 15px;
margin: 0 auto;
display: block;
}

.png:hover {
opacity: 0.5;
}

.png_0 {
padding-top: 15px;
float: right;
}

.png_0:hover {
opacity: 0.5;
}

.content {
background: #eeebeb;
border-radius: 5px;
}

.content_caption1 {
font-weight: bold;
font-size: 60px;
padding-left: 200px;
padding-top: 100px;
}

.content_text1 {
padding-left: 200px;
font-size: 25px;
}

.image_2 {
float: right;
}

.content_caption2 {
font-weight: bold;
font-size: 60px;
padding-top: 100px;
}

.content_text2 {
font-size: 25px;
}

.subcontent {
background: #dddddd;
border-radius: 5px;
}

.subcontent_caption1 {
padding-top: 30px;
text-align: center;
font-size: 60px;
color: #383838;
font-weight: bold;
}

.stars {
font-size: 25px;
color: green;
text-align: center;
}

.subcontent_caption {
text-align: center;
font-size: 30px;
font-weight: bold;
color: green;
}

.subcontent_links {
text-decoration: none;
}

.subcontent_links:hover {
text-decoration: underline;
opacity: 0.5;
}

.click_link {
}

.click_link:active {
color: red;
}

.pomidor {
padding-top: 5px;
margin: 0 auto;
display: block;
}

.podsol {
margin: 0 auto;
display: block;
}

.line {
margin: 0 auto;
display: block;
}

.subcontent_text {
font-size: 20px;
text-align: center;
}

.footer {
background: #2a2b2a;
border-radius: 5px;
}

ul.footer_list li {
display: inline;
padding-left: 5px;
}

.icons {
padding-left: 10px;
}

.icons:hover {
opacity: 0.5;
}

.subfooter {
background: #444544;
border-radius: 5px;
}

.header2 {
padding-top: 10px;
background: #f6f6f5;
border-radius: 5px;
position: fixed;
}

.content2 {
border-radius: 5px;
background: #f7d0f6;
padding-bottom: 40px;
}

.links_2 {
text-decoration: none;
}

.links_2:hover {
text-decoration: underline;
opacity: 0.5;
}

.ramka {
border: 10px solid #f7d0f6;
}

.content_3 {
background-image: url('../img/background_3.png');
background-color: #eeebeb;
min-height: 1250px;
border-radius: 5px;
padding-left: 200px;
padding-right: 200px;
padding-bottom: 80px;
padding-top: 10px;
}

.return3 {
color: green;
text-decoration: none;
}

.return3:hover {
text-decoration: underline;
opacity: 0.5;
}

.download_button_3 {
float: right;
border-radius: 30px;
border: 2px green solid;
padding: 10px;
background: #eeebeb;
}

.download_button_3:hover {
background: #a8f69d;
}

.download_button_3:active {
padding: 9px;
margin-bottom: 2px;
}